services:
  cloudflared:
    container_name: cloudflared
    image: cloudflare/cloudflared:latest
    command: tunnel --no-autoupdate run --token # add token for Cloudflare tunnel here
    restart: unless-started
  unifi:
    image: jacobalberty/unifi:latest
    container_name: unifi
    environment:
      - TZ=America/New_York
    volumes:
      - /home/docker/docker/unifi:/unifi
    ports:
      - 8443:8443
      - 3478:3478/udp
      - 8080:8080
    restart: unless-stopped
  homeassistant:
    image: lscr.io/linuxserver/homeassistant:latest
    container_name: homeassistant
    network_mode: host
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
    volumes:
      - /home/docker/docker/homeassistant:/config
    ports:
      - 8123:8123
    restart: unless-stopped
  homarr:
    container_name: homarr
    image: ghcr.io/homarr-labs/homarr:latest
    environment:
      - SECRET_ENCRYPTION_KEY= # Set this to a new randomly generated 64 digit hex code from https://homarr.dev/docs/getting-started/installation/docker/
    ports:
      - 7575:7575
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /home/docker/docker/homarr:/appdata
    restart: unless-stopped
  jellyfin:
    image: lscr.io/linuxserver/jellyfin:latest
    container_name: jellyfin
    environment:
      - PUID=1000 # uid from data source
      - PGID=1000 # gid from data source
      - TZ=America/New_York
    volumes:
      - /home/docker/docker/jellyfin:/config
      - /mnt/NAS/shared/videos:/videos
      - /mnt/NAS/shared/music:/music
      - /mnt/NAS/shared/books:/books
    ports:
      - 8096:8096
      - 8920:8920
      - 7359:7359/udp
      - 1901:1900/udp
    restart: unless-stopped
  jellyseerr:
    image: fallenbagel/jellyseerr:latest
    container_name: jellyseerr
    environment:
      - LOG_LEVEL=debug
      - TZ=America/New_York
    ports:
      - 5055:5055
    volumes:
      - /home/docker/docker/jellyseerr:/app/config
    restart: unless-stopped  
#  gluetun:
#    image: qmcgaw/gluetun
#    container_name: gluetun
#    cap_add:
#      - NET_ADMIN
#    devices:
#      - /dev/net/tun:/dev/net/tun
#    ports:
#      - 12345:12345 # qBittorrent Web UI
#      - 12346:12346 # qBittorrent torrent port
#      - 12346:12346/udp
#      - 9696:9696 # Prowlarr
#      - 8989:8989 # Sonarr
#      - 7878:7878 # Radarr
#      - 8191:8191 # FlareSolverr
#    volumes:
#      - /home/docker/docker/gluetun:/gluetun
#    environment:
#      - VPN_SERVICE_PROVIDER=protonvpn
#      - VPN_TYPE=openvpn
#      - OPENVPN_USER= # User code from ProtonVPN
#      - OPENVPN_PASSWORD= # Password from ProtonVPN
#      - SERVER_COUNTRIES=Switzerland
#      - TZ=America/New_York
#    restart: unless-stopped
  kavita:
    image: lscr.io/linuxserver/kavita:latest
    container_name: kavita
    environment:
      - PUID=1000 # uid from data source
      - PGID=1000 # gid from data source
      - TZ=America/New_York
    volumes:
      - /home/docker/docker/kavita:/config
      - /mnt/NAS/shared/books:/books
    ports:
      - 5000:5000
    restart: unless-stopped
  calibre:
    image: lscr.io/linuxserver/calibre:latest
    container_name: calibre
    #security_opt:
    #  - seccomp:unconfined #optional
    environment:
      - PUID=1000 # uid from data source
      - PGID=1000 # gid from data source
      - TZ=America/New_York
      #- PASSWORD= #optional
      #- CLI_ARGS= #optional
    volumes:
      - /home/docker/docker/calibre:/config
      - /mnt/NAS/shared/books:/books
    ports:
      - 8090:8090
      - 8181:8181
      - 8081:8081
    restart: unless-stopped
  audiobookshelf:
    image: ghcr.io/advplyr/audiobookshelf:latest
    environment:
      - PUID=1000 # uid from data source
      - PGID=1000 # gid from data source
      - TZ=America/New_York
    volumes:
      - /home/docker/docker/audiobookshelf/config:/config
      - /home/docker/docker/audiobookshelf/metadata:/metadata
      - /mnt/NAS/shared/audiobooks:/audiobooks
      - /mnt/NAS/shared/podcasts:/podcasts
      - /mnt/NAS/shared/books:/books
    ports:
      - 13378:80
    restart: unless-stopped  
  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    environment:
      - PUID=1000 # uid from data source
      - PGID=1000 # gid from data source
      - TZ=America/New_York
      - WEBUI_PORT=12345
      - TORRENTING_PORT=12346
    volumes:
      - /home/docker/docker/qbittorrent:/config
      - /mnt/NAS/downloads:/downloads
    ports:
      - 12345:12345
      - 12346:12346
      - 12346:12346/udp
    restart: unless-stopped
  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    environment:
      - TZ=America/New_York
    volumes:
      - /home/docker/docker/prowlarr:/config
    ports:
      - 9696:9696
    restart: unless-stopped
  flaresolverr:
    container_name: flaresolverr
    image: ghcr.io/flaresolverr/flaresolverr:latest
    environment:
      - LOG_LEVEL=${LOG_LEVEL:-info}
      - LOG_HTML=${LOG_HTML:-false}
      - CAPTCHA_SOLVER=${CAPTCHA_SOLVER:-none}
      - TZ=America/New_York
    ports:
      - 8191:8191
    restart: unless-stopped
  sonarr:
    container_name: sonarr
    image: lscr.io/linuxserver/sonarr:latest
    environment:
      - PUID=1000 # uid from data source
      - PGID=1000 # gid from data source
      - TZ=America/New_York
    ports:
      - 8989:8989
    volumes:
      - /home/docker/docker/sonarr:/config
      - /mnt/NAS/shared/TV:/tv
      - /mnt/NAS/shared/anime/shows:/anime
      - /mnt/NAS/downloads:/downloads
    restart: unless-stopped
  radarr:
    container_name: radarr
    image: lscr.io/linuxserver/radarr:latest
    environment:
      - PUID=1000 # uid from data source
      - PGID=1000 # gid from data source
      - TZ=America/New_York
    ports:
      - 7878:7878
    volumes:
      - /home/docker/docker/radarr:/config
      - /mnt/NAS/shared/movies:/movies
      - /mnt/NAS/shared/anime/movies:/anime
      - /mnt/NAS/downloads:/downloads
    restart: unless-stopped
  apache-php:
    image: php:7.2-apache
    container_name: apache-php
    ports:
      - 80:80
    volumes:
      - /home/docker/docker/apache:/var/www/html
    restart: unless-stopped

